name: Validate Renovate Config

on:
  push:
    paths:
      - '.github/renovate.json5'
  pull_request:
    paths:
      - '.github/renovate.json5'

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Validate Renovate config
        uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          config_file_path: .github/renovate.json5
