name: Validate Renovate Config

on:
  push:
    paths:
      - '.github/renovate.json5'
  pull_request:
    paths:
      - '.github/renovate.json5'

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Validate Renovate config
        uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
        with:
          config_file_path: .github/renovate.json5
